* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
  body, html {
    font-family: Arial, sans-serif;
    background-color: black;
    height: 100%;
    width: 100%;
    background-image: url("/img/background-gold.jpg");
  }
  
  header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #f4d03f;
    font-size: 24px;
    font-weight: bold;
    float: right;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
  }
  
  .navLinks li {
    margin-left: 20px;
    color:white;
  }
  
  .navLinks a{
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
   .logo img {
    width: 50px;
    height: auto;
    float: right;
   }

   a.carousel-item{
    color: white;
   }

   .product-grid {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
   }

   .product-container {
    width: 100vw;
    height: 500px;
    /* display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%; */
   }

   .product-information {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: white;

   }

   /* #carousel-1 {
    width: 40%;
    height: 500px
   } */

   .items-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 75px;
    gap: 25px;
}

.item-info {
    color: white;
    padding-top: 50px;
  
}

.card-content {
    line-height: 2;
    font-size: 20px;
    
}

.carousel-item img {
    width: 300px !important;
    height: 300px !important;
}

#text {
  width: 100px;
  height: 100px;
}

.carousel {
  height: 700px !important;
  position: relative;
  bottom: 250px;

}

.carousel-item button {
  background-color: orange;
  padding: 10px;
 
}

.carousel-item {
 text-align: center;
}

.carousel-wrapper {
  transform: translateX(45px);
}

.col.s12.m7.black {
  transform: translateY(-100px);
 height: 400px;
}

@media (min-width: 600px) {
  .product-container {
      flex: 1 1 45%;
  }
}

@media (min-width: 992px) {
  .product-container {
      flex: 1 1 30%;
  }
}

h1 {
  color: white;
  text-align: center;
}

/* responsive for phones */
@media (max-width: 800px) {
  .card-content {
    display: none;
  }

  .items-container {
    grid-template-columns: 1fr;
    gap: 0;
    transform: translateX(-50px);
  }

  .col.s12.m7.black {
    display: none;
  }

  .logo {
    display: none;
  }
  
}

/* reponsive for anything else */
@media(min-width: 800px) {
  body {
    background-color: black;
  }
}